apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark
  namespace: spark-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark
  template:
    metadata:
      labels:
        app: spark
    spec:
      containers:
        - name: spark
          image: alexmerced/spark35nb:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080  # Spark Master UI
            - containerPort: 7077  # Spark Master Port
            - containerPort: 8888  # Jupyter Notebook
          env:
            - name: AWS_ACCESS_KEY_ID
              value: "minio"
            - name: AWS_SECRET_ACCESS_KEY
              value: "minio123"
            - name: AWS_DEFAULT_REGION
              value: "us-east-1"
            - name: AWS_REGION
              value: "us-east-1"
